* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #060606;
  color: #fff;
}

/* NEWS BAR */
.news-bar {
  background: linear-gradient(90deg, #ff9800, #ff5722);
  color: #000;
  font-weight: bold;
  padding: 8px;
}

/* LOGIN CARD */
.card {
  max-width: 360px;
  margin: 30px auto;
  background: #111;
  padding: 20px;
  border-radius: 14px;
  box-shadow: 0 0 25px #000;
  animation: fadeIn 1s ease;
}

.card h2, .card h3 {
  text-align: center;
  color: #ff9800;
}

input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 8px;
  border: none;
  background: #222;
  color: #fff;
}

button {
  width: 100%;
  padding: 12px;
  background: linear-gradient(45deg, #ff9800, #ffc107);
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.hidden {
  display: none;
}

/* DASHBOARD */
.dashboard {
  max-width: 420px;
  margin: 20px auto;
  padding: 10px;
}

.dashboard h1 {
  text-align: center;
  color: #ff9800;
  margin-bottom: 15px;
}

/* STATS */
.stats {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.stat-box {
  flex: 1;
  background: #121212;
  padding: 12px;
  border-radius: 12px;
  text-align: center;
  box-shadow: inset 0 0 10px #000;
}

.stat-box span {
  font-size: 12px;
  color: #aaa;
}

.stat-box h2 {
  color: #00e676;
}

/* MATCH BOX */
.match {
  margin-top: 15px;
  padding: 15px;
  border-radius: 14px;
  background: #0f0f0f;
  border-left: 4px solid #ff9800;
}

.match h3 {
  color: #ff9800;
}

.match p {
  color: #aaa;
  font-size: 13px;
}

@keyframes fadeIn {
  from {opacity: 0; transform: translateY(20px);}
  to {opacity: 1; transform: translateY(0);}
}
